  .nav-c {
        padding: 15px;
    }
    
    .nav-c ul {
        margin: 0px;
        padding: 0px;
       -webkit-transition: display 2s; /* Safari */
    transition: display 2s;
    }
    
    .nav-c ul li {
        list-style: none;
        float: left;
        transition: 0.3s;
        margin: 10px;
    }
    
    .active-c {
        border-bottom: 1px solid #f0ad4e;
    }
    
    .nav-c-ul li:hover {
        border-bottom: 1px solid #f0ad4e;
    }
    
    .nav-c ul li a {
        height: 45px;
        display: block;
        text-decoration: none;
        color: #2B3238;
        line-height: 30px;
        padding: 5px;
    }

    .nav-c-toggle{
         position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 1;
    }
    
    @media all and (max-width: 380px) {
        .nav-c ul li {
           
            float: none;
           width: 100%;
            margin: 10px;
        }

 .nav-c ul{
     width: 100%;
     display: none;
    
 }
        .nav-c ul li a {
            width: 100%;
        }
    }