<hr>

<h4 id="about" name="about">ABOUT US</h4>
<div class="row">
    <div class="col-md-4">
        <div class="card card-block">
            <b>PHILOSOPHY</b>
            <br><br> YENZINCEBO OFFICE SOLUTIONS is a youth-driven company founded in 2009 by Thando Vilakazi, Chief Executive
            Officer of the organization. Many clientele of office automation services are continuously misled as to what
            their true office needs are.
            <br><br></div>
        <div class="card card-block">
            <b>HOW WE PLAY IT</b>
            <br><br>
            <p>YENZINCEBO OFFICE SOLUTIONS workforce is youth based guidedwith valuable expertise relayed by Zanele Radebe;
                an industry veteranand who's been employed by the young Thando Vilakazi. </p>

            <p>The youth are the leaders of tomorrow, therefore empowering them today means there wil lbe greater future milestones
                for the company the economic.For us its experience meets innovation as our products and services focus on
                various business markets we at YENZINCEBO have deliberately and strategically based ourselves in Soweto.
                </p>

            <p>As we feel Soweto is a territory booming with up-coming businesses and various organizations that have a need
                for such solutions. We are trying an alternative route of establishing a brand with upscale management &
                sales personnel, unrivaled customer support, feedback and environmentally friendly practices. We have three
                of the five characteristics that most of the South African Companies requirements, we also fit into South
                African Government procurement criteria by leading BBBEE , youth owned/managed and have a female in management,
                we feel that we have got healthy credentials to meet any requirements. </p>

            <p>As a youth driven business we are proud to acknowledge that the Itec Group in the year 2010 had awarded the young
                team an Itec franchise, this shows great trust in our youth empowerment strategy. Additionally we have been
                evaluating e-commerce and digital media mediums, looking for solutions which will provide the greatest flexibility
                while allowing operations to remain simple for our clients.</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card card-block">
            <b>WHAT WE DO</b>
            <br><br>
            <p>What we do YENZINCEBO OFFICE SOLUTIONS specializes in assisting businesses with the complete office automation
                and carried out, right from conducting software requirement specification and site preparation to procuring
                and installing all necessary hardware and customized software for the client.</p>
            <div ng-show="false">
                <a href="#" ng-click="show_more = 1" ng-show="show_more == 0">show more...</a>
                <a href="#" ng-click="show_more = 0" ng-show="show_more == 1">show less...</a></div>
            <div ng-show="show_more == 1">
                <br>
                <p>YENZINCEBO OFFICE SOLUTIONS endeavor to provide complete office automation support to the user organization
                    and keep updating the users on their information requirements from time to time. The company also provides
                    service on a turnkey basis, wherein we provide the services at an affordable cost thus ensuring enormous
                    savings to the end-user as compared to what would be charged by other office automation companies. We've
                    started great relationships through our manner of business practice.</p>

                <p>YENZINCEBO conducted a nation-wide roll out of machines for Lesaka Employee Benefits; areas consisting of
                    Port Elizabeth, East London, Durban, Northern Cape, Cape Town, Klerksdorp, Mafikeng, Rusternburg etc,
                    now we can proudly say we are Lesaka Employee Benefits preferred supplier of office automation solutions.
                    POPCRU (Police & Prison Civil Rights Union), which governs workers in the Department of South African
                    Police Services, Correctional Services and Traffic Departments, is one of our most valued clients. We
                    have a nation-wide rollout of machines for them, which we service and maintain consistantly to date.
                    To maintain clients such as POPCRU, that use the machines more regularly in huge volumes, we have a dedicated
                    technician to ensure minimum down time on delivering all required services. We also service Riskcon Security,
                    a company responsible for security in stores such as Edgars, Foshini and many more prominent retail stores
                    and companies. We also did rolled out of machines for them across the country, which we service and maintain
                    consistantly to date.</p>

                <p>YENZINCEBO services a large number of schools and petrol service stations in and around Soweto, particularly
                    townships that are usually misled into buying devices</p>
            </div>
        </div>
    </div>

</div>

<!--
<div  id="collapseExample">
  <div class="card card-block">
    
  </div>
</div> -->