<h4 class="about-h4" name="about">MEET THE FUTURE</h4>

        <div class="row">
            <div class="col-md-3">
                <img src="img/cebo.jpg" height="260">
            </div>
            <div class="col-md-9">
                <br><br>
                <b>YENZINCEBO OFFICE SOLUTIONS</b> is a youth-driven company founded in 2009 by Thando Vilakazi, Chief Executive
                Officer of the organization. Many clientele of office automation services are continuously misled as to what
                their true office needs are. We provide what you essentially need and not extra for your office, through
                evaluating the clients challenges and supply them with the most suitable, most technological and cost effective
                solutions.
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-4">
                <b>ABOUT US</b>
                <br><br> YENZINCEBO OFFICE SOLUTIONS is a youth-driven company founded in 2009 by Thando Vilakazi, Chief
                Executive Officer of the organization. Many clientele of office automation services are continuously misled
                as to what their true office needs are.
            </div>
            <div class="col-md-4">
                <b>WHAT WE DO</b>
                <br><br> YENZINCEBO OFFICE SOLUTIONS specializes in assisting businesses with the complete office automation
                and carried out, right from conducting software requirement specification and site preparation to procuring
                and installing all necessary hardware and customized software for the client.
            </div>
            <div class="col-md-4">
                <b>WHY CHOOSE US</b>
                <br><br> All our products and services are competitively priced and targeted to any magnitude of an organization.
                One of our main objectives is be cost effective as in this market clients are made to pay astronomical fees
                billed by many office automation companies for poor customer service and technical support.
            </div>
        </div>

        <br>
        <hr>
        <br>

         <h4 class="about-h4">EXCELLENCE IN OFFICE AUTOMATION</h4>

          <div class="row">
              <div class="col-md-12">
                  <br>
                  "Our company prides itself with committing to being the best customer service organization in Africa, to improve the productivity and quality of 
                  life for our customers through quality products, superior technical expertise, the best clientele training and the most cost effective solutions."            
                  <br>
              </div>
          </div>
           <br>
            <br>