<hr>

<h4 id="about" name="about">WE OFFER</h4>

<div class="row">
    <div class="col-md-4">
        <div class="card card-block">
            <b>MULTIFUNCTION &amp; 
PRINT SYSTEMS</b>
            <br><br>

            <p>
                A range of multi-function B&amp;W and colour digital systems characterized by reliability, high productivity and reduced
                maintenance cost. Designed to meet the needs of companies of any magnitude, from SMME's, retail enterprises,
                up to large corporations requiring advanced performance systems featuring flexible configurations, network
                connectivity and desktop publishing.

            </p>
            <p>PRINTERS &amp; FAX MACHINES We have a wide range of colour printers and black &amp; white printers to suit any
                company size large or small. Colour Multifunctional is an all-in-one colour multifunctional product range
                that delivers a range of print/copy/scan/fax with advanced finishing options, as well as additional security
                features that can be customised to meet basic and extended office needs. Monochrome (black and white) Multifunctional
                is an all-in-one black and white printing machine, which can be configured with a number of modular finishing
                options.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-block">
            <b>SOFTWARE &amp;
SERVICES</b>
            <br><br>
            <p>
                Documental Hub is an innovative one-stop solution that enables all documentation process components to be managed by integrating
                multiple elements, scaled on the basis of various needs.
            </p>
            <p>
                Issued as "Software as a Service" (SaaS), the platform avails of a simple, user-friendly interface, and is capable of generating
                efficiency through the full regulation of all processes, accompanying Companies and Public Administrations
                towards fully-fledged automation and cost and performance optimisation.
            </p>
            <p>
                Olischool is the solution developed by Olivetti for communication between schools and families, with updates on school activities
                and real-time information on students progress. The system displays school marks, absences, timetables, parent-teacher
                visiting hours, notices, circulars, news, events and other information the school needs to make available.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-block">
            <b>PC &amp;
COMMUNICATION</b>
            <br><br>
            <p>
                <strong>TABLET:</strong> Maximum connectivity on the move thanks to 3G and Wi-Fi, advanced graphical capability,
                simple and intuitive interface, are some of OliPad's intrinsic characteristics, the new 10'' touch tablet
                able to play music, images and video content in Full HD.
            </p>
            <p>
                <strong>NOTEBOOK:</strong> High-performance processor, wide selection of connectable peripherals and extreme
                use versatility are some of the features of the new Olibooks, the latest generation of notebooks and netbooks
                with reduced power consumption.
            </p>
            <p>
                <strong>INTERACTIVE WHITEBOARD:</strong> Oliboard is a modular solution that includes a series of interactive
                multimedia whiteboards and a number of optional components.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card card-block">
            <b>MFP APPLICATION</b>
            <br><br>
            <p>Managed Print Service is a complete printing infrastructure management model, offering a wide range of black/white
                and colour printers and multifunction products designed to satisfy a company's entire printing needs. These
                products also come with a series of software applications, aimed at SMEs and larger customers, with which
                it is possible to quantify and then reduce corporate costs through a process of analysing and optimizing
                the said infrastructure.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-block">
            <b>RETAIL SOLUTIONS</b>
            <br><br>
            <p>A full range of solutions to meet the specific needs of retailers, public commercial concerns, operators in the
                leisure/entertainment business: cash registers, POS workstations and video surveillance systems. The offer
                is completed with specialised printer peripherals for every type of user, from the small shopkeeper to the
                mass merchandiser.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
            <b>CORPORATE SOCIAL INVESTMENT</b>
            <br><br>
            <p>Corporate Social Investment Majority of our activities are based on youth empowerment. Investing in education and intellectual growth is one of our key principals, thus we give schools discounted pricing and donations from time to time, working towards doing more in future. Last year YENZINCEBO completely repainted an orphanage and fed over 150 orphans In the East Rand. We also give motivational talks from school to school, teaching children how success may stem from a vast number of activities one may put into practice. We intend to continuously do this every year. There is a tremendous demand for young black people in this business segment and we will
                 insure that more black people are informed of such an industry, through the consistant communication with scholars and students.
            </p>
        </div>
    </div>
   
</div>
</div>